.main{
  
    margin: -7%;

}
.text_1{
    text-align: center;
    padding-top: 7%;
}
.container{
    background-color: rgb(39, 178, 132);
    margin: 0;
    padding: 2px 2px 2px 2px;
}

.input{
    margin-left: 80%;
    height: 30px;
    margin-top: 3%;
}
.button{
    margin-left: 1%;
    background-color: rgb(255, 0, 0);
    width: 65px;
    height: 30px;
    border: 2px solid red;
    color: white;
    font-weight: bold;
}
.card{
    margin-top: 9%;
    display: grid;
    justify-items: center;
}